@page "/EducationalInstitutionandgroup"
@attribute [Authorize(Roles = @Constants.ROLE_TEACHER_IDENTITY)]

<div class="menu_info">
    <NavMenu></NavMenu>
    <div class="results_student">
        <div class="nav_top">
            <div class="nav_top_link border" @onclick="(()=>activeTab = Enums.TabUniversityAndGroup.EducationalInstitutions)">Учебные заведения</div>
            <div class="nav_top_link border" @onclick="(()=>activeTab = Enums.TabUniversityAndGroup.AddEducationalInstitution)">Добавить учебное заведение</div>
            <div class="nav_top_link border" @onclick="(()=>activeTab = Enums.TabUniversityAndGroup.Groups)">Группы</div>
            <div class="nav_top_link" @onclick="(()=>activeTab = Enums.TabUniversityAndGroup.AddGroup)">Добавить группу</div>
        </div>

@switch (activeTab)
{
    case Enums.TabUniversityAndGroup.EducationalInstitutions:
        <ListEducationalInstitutionComp></ListEducationalInstitutionComp>
        break;
    case Enums.TabUniversityAndGroup.AddEducationalInstitution:
        <CreateEditEducationalInstitutionComp EducationalInstitution="new EducationalInstitution()"></CreateEditEducationalInstitutionComp>
        break;
    case Enums.TabUniversityAndGroup.Groups:
        <ListGroupComp></ListGroupComp>
        break;
    case Enums.TabUniversityAndGroup.AddGroup:
        <CreateEditGroupComp Group="new Group()"></CreateEditGroupComp>
        break;
}

    </div>
</div>

@code {
    [CascadingParameter]
    public Enums.TabUniversityAndGroup activeTab { get; set; } = Enums.TabUniversityAndGroup.EducationalInstitutions;


}
