@using Microsoft.EntityFrameworkCore
@inject DB _db;
@inject NavigationManager _navigation
@inject SignInManager<AspNetUsers> _signInManager;

<div class="menu">

    @*  <AuthorizeView Roles="Administrators">
        <Authorized>
        <NavLink class="main_nav_link border" href="Users">Управление пользователями</NavLink>
        <NavLink class="main_nav_link" href="EducationalInstitutionandgroup">Управление учебными заведениями и группами</NavLink>
        <div class="account"><img src="img\account.png" alt=""></div>
        </Authorized>
        </AuthorizeView>*@
    <AuthorizeView Roles=@($"{Constants.ROLE_TEACHER_IDENTITY}, {Constants.ROLE_STUDENT_IDENTITY}")>
        <Authorized>
            <div class="name">@_name</div>
        </Authorized>
    </AuthorizeView>
    <div class="username">@_userName</div>
    <AuthorizeView Roles=@($"{Constants.ROLE_TEACHER_IDENTITY}")>
        <Authorized>
            <NavLink class="menu_items" href="coursesteacher">Курсы</NavLink>
            <NavLink class="menu_items" href="koansteacher">Коаны</NavLink>
        </Authorized>
    </AuthorizeView>
     <AuthorizeView Roles=@($"{Constants.ROLE_STUDENT_IDENTITY}")>
        <Authorized>
            <NavLink class="menu_items" href="">Мои курсы</NavLink> @*сделать страницу*@
        </Authorized>
    </AuthorizeView>

    <NavLink class="menu_items" href="aboutuser">О пользователе</NavLink> @*сделать компонент*@
    <NavLink class="menu_items" href="/Identity/Account/Login"><img src="img\exit.png" alt="">Выйти</NavLink>
    @*<div class="menu_items" @onclick="LogOut"><img src="img\exit.png" alt="">Выйти</div>*@

     @* <form  method="post" action="/Identity/Account/Logout">
        <button type="submit" class="menu_items"><img src="img\exit.png" alt="">Выйти</button>
        <input name="__RequestVerificationToken" type="hidden"></form>*@

    @*<div class="menu_items">Курсы</div>
        <div class="menu_items">Коаны</div>
        <div class="menu_items">О пользователе</div>
        <div class="menu_items"><img src="img\exit.png" alt="">Выйти</div>*@
</div>

@code {

    private string _name;
    private string _userName;

    protected override void OnInitialized()
    {

        switch (CurrentUser.Role)
        {
            case Constants.ROLE_ADMINISTRATOR_IDENTITY:
                break;
            case Constants.ROLE_TEACHER_IDENTITY:
                var teacher = _db.Teachers
             .Include(x => x.AspNetUser)
             .First(x => x.AspNetUser == CurrentUser.User);
                _name = teacher.LastName + teacher.FirstName;
                break;
            case Constants.ROLE_STUDENT_IDENTITY:
                var student = _db.Students
                 .Include(x => x.AspNetUser)
                 .First(x => x.AspNetUser == CurrentUser.User);
                _name = student.LastName + student.FirstName;
                break;
            default: break;
        }

        _userName = CurrentUser.User.UserName;
    }

}