@using Microsoft.EntityFrameworkCore
@inject DB _db;

<div class="menu">
        <div class="name">@_name</div>
        <div class="username">@_userName</div>
        <NavLink  class="menu_items" href="coursesteacher">Курсы</NavLink>
        <NavLink class="menu_items" href="koansteacher" >Коаны</NavLink>
        <NavLink class="menu_items" href="aboutuser"> О пользователе</NavLink>
        <NavLink class="menu_items" href="Account/Logout" ><img src="img\exit.png" alt="">Выйти</NavLink>
        @*<div class="menu_items">Курсы</div>
        <div class="menu_items">Коаны</div>
        <div class="menu_items">О пользователе</div>
        <div class="menu_items"><img src="img\exit.png" alt="">Выйти</div>*@
    </div>

@code {

    private string _name;
    private string _userName;

    protected override void OnInitialized()
    {
        var teacher = _db.Teachers
             .Include(x => x.AspNetUser)
             .First(x => x.AspNetUser == CurrentUser.User) ;

        _name = teacher.LastName + teacher.FirstName;
        _userName = teacher.AspNetUser.UserName;
    }
}
