@page "/"
@attribute [Authorize]
@inject DB _db
@inject NavigationManager navigation

@*@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor*@

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {



    protected override async Task OnInitializedAsync()
    {


        //CookieTest cookiesTest = new CookieTest();

        //if (Cookie.HttpContextAccessor == null)
        //{
        //    Cookie.HttpContextAccessor = httpContextAccessor;
            
        //    Cookie.HttpContextAccessor.HttpContext.Response.Cookies.Append("TestK", Newtonsoft.Json.JsonConvert.SerializeObject(cookiesTest));
        //}

        //Cookie.HttpContextAccessor.HttpContext.Response.Cookies.Append("TestK", Newtonsoft.Json.JsonConvert.SerializeObject(cookiesTest));

        if (DB.StatusStart)
        {
            DB.StatusStart = false;
            _db.SetDefValue();
            navigation.NavigateTo("/Identity/Account/Register");

        }
    }

}
