@page "/newusers"

@inject RoleManager<IdentityRole> _RoleManager;
@inject UserManager<AspNetUsers> _userManager;
@inject DB _db;

@attribute [Authorize(Roles = "Administrators")]
<h3>NewUsers</h3>

<button class="btn" @onclick="(()=>currentRole = Enums.Roles.Administrator)">
      Administrator
</button>
<button class="btn" @onclick="(()=>currentRole = Enums.Roles.Teacher)">
     Teacher
</button>
<button class="btn" @onclick="(()=>currentRole = Enums.Roles.Student)">
     Student
</button>
<div>cur rol - @currentRole</div>
@switch(currentRole)
{
    case Enums.Roles.Administrator:
    <NewAdministrator></NewAdministrator>
    break;
    case Enums.Roles.Teacher:
    <NewTeacher2></NewTeacher2>
    break;
    case Enums.Roles.Student: 
    <NewStudent></NewStudent>
    break;
}
<div></div>


@code {
    private Enums.Roles currentRole; //это если других ролей никогда не будет

    //private void ShowRole(Enums.Roles role)
    //{
        
    //}
}
