<h3>TestComp</h3>

      <div>
        <div @onclick="(()=>activeTab = Enums.TabTestStudent.Test)">Тест</div>
        <div @onclick="(()=>activeTab = Enums.TabTestStudent.ResultTest)">Результат</div>
    </div>

    @switch (activeTab)
    {
        case Enums.TabTestStudent.Test:
            <DescriptionTestComp3 StartTest="StartTest"></DescriptionTestComp3>
            break;
        case Enums.TabTestStudent.ResultTest:
            <CreateEditEducationalInstitutionComp EducationalInstitution="new EducationalInstitution()"></CreateEditEducationalInstitutionComp>
            break;
    }




@code {
    //[CascadingParameter]
    public Enums.TabTestStudent activeTab { get; set; } = Enums.TabTestStudent.Test;

    [Parameter]
    public EventCallback Refresh { get; set; }

    //[CascadingParameter(Name = "CurTest")]
    //public Test CurTest { get; set; }

    //[CascadingParameter(Name = "CurModule")]
    //public Module CurModule { get; set; }

    private bool isInProressTest = false;



    protected override async Task OnInitializedAsync()
    {


    }

    public void StartTest()
    {
        isInProressTest = true;
    }


}
