@page "/koansteacher"

<div class="menu_info">
    <div class="menu">
        <div class="name">Калимуллина Адиля</div>
        <div class="username">kalimullina-adilya</div>
        <div class="menu_items">Курсы</div>
        <div class="menu_items">Коаны</div>
        <div class="menu_items">О пользователе</div>
        <div class="menu_items"><img src="img\exit.png" alt="">Выйти</div>
    </div>
    <div class="info">
        <div class="nav_top">
            <div class="nav_top_link border" @onclick="(()=>_activeTab = Enums.TabKoansTeacher.Koans)">Мои коаны</div>
            <div class="nav_top_link" @onclick="(()=>_activeTab = Enums.TabKoansTeacher.AddKoan)">Добавить коан</div>
        </div>
        @switch (_activeTab)
        {
            case Enums.TabKoansTeacher.Koans:
                <ListKoansComp></ListKoansComp>
                break;
            case Enums.TabKoansTeacher.AddKoan:
                <CreateEditKoan Koan="new Koan()"></CreateEditKoan>
                break;

        }
    </div>
</div>

@code {

    public Enums.TabKoansTeacher _activeTab = Enums.TabKoansTeacher.Koans;


}
