@page "/Users"


<div class="menu_info">
    <div class="results_student">
        <div class="nav_top">
            <div class="nav_top_link border" @onclick="(()=>activeTab = Enums.TabUsers.Users)">Пользователи</div>
            <div class="nav_top_link" @onclick="(()=>activeTab = Enums.TabUsers.AddUser)">Добавить пользователя</div>
        </div>
        @switch (activeTab)
        {
            case Enums.TabUsers.Users:
                <ListUsersComp></ListUsersComp>
                break;
            case Enums.TabUsers.AddUser:
                <CreateEditUsersComp UserModelForm="new StudentModelForm()"></CreateEditUsersComp>
                break;
        }
    </div>
</div>



@code {
    public Enums.TabUsers activeTab { get; set; } = Enums.TabUsers.Users;
}
