@page "/Users"


<div class="menu_info">
     <NavMenu></NavMenu>
    <div class="results_student">
        <div class="nav_top">
            <div class="nav_top_link border" @onclick="(()=>_activeTab = Enums.TabUsers.Users)">Пользователи</div>
            <div class="nav_top_link" @onclick="(()=>_activeTab = Enums.TabUsers.AddUser)">Добавить пользователя</div>
        </div>
        @switch (_activeTab)
        {
            case Enums.TabUsers.Users:
                <ListUsersComp></ListUsersComp>
                break;
            case Enums.TabUsers.AddUser:
                <CreateEditUsersComp UserModelForm="new StudentModelForm()"></CreateEditUsersComp>
                break;
        }
    </div>
</div>



@code {
    private Enums.TabUsers _activeTab = Enums.TabUsers.Users;
}
