<h3>DescriptionTest</h3>
<div>Количество Коанов @CurModule.Test.KoanInTests.Count</div>
<div>Время @CurModule.Test.Time</div>
<div>Проходной балл @CurModule.Test.MinScore</div>
@switch(Cookie.GetTestCookies().GetStatus())
{
    case Enums.StatusTest.NotStart:
           @* <button @onclick="()=>StartTest.InvokeAsync(CurModule.Test)">Начать тест</button>*@
            <button @onclick="()=>StartTest.InvokeAsync(CurModule.Test)">Начать тест</button>
            break;
            case Enums.StatusTest.InProgress:
            <button>Продолжить тест</button> @* @onclick="StartTest.InvokeAsync(CurModule.Test)"*@
            break;
            case Enums.StatusTest.End:
            <div>Тест завершён</div>
            break;
}
@code {
    [Parameter] public EventCallback<Test> StartTest { get; set; }

    [CascadingParameter(Name = "CurModule")]
    public Module CurModule { get; set; }

    [CascadingParameter(Name = "CurModule")]
    public Module CurModule { get; set; }

    protected override async Task OnInitializedAsync()
    {
         var test = Cookie.GetTestCookies();

    }

    //private void StartTest()
    //{

    //}
}
